# Configuration file

general {
    # Allows apple and darkwood leaves to grow fruit on their own, like the non-dynamic versions (in addition to the Dynamic Trees fruit blocks).
    B:"Fruity Leaves"=true

    # Allows apple and darkwood leaves with fruit to be right clicked instead of needing to break the block. requires "Fruity Leaves" to be set to true.
    B:"Pick Fruit From Leaves"=true
}


