# Configuration file

general {

    ##########################################################################################################
    # server
    #--------------------------------------------------------------------------------------------------------#
    # Gameplay / balance options enforced by the server
    ##########################################################################################################

    server {
        # How Much Durability Is Restored Per Cycle. Also Experience Drain. 0 To Disable
        # Min: 1
        # Max: 100
        I:anvilSigilRepairPerCycle=10

        # % Of Mainhand Item Damage Aura will do. 0 to disable.
        # Min: 0.0
        # Max: 1.0
        D:auraDamagePercent=0.2

        # Experience gain multiplier.
        # Min: 0.0
        # Max: 20.0
        D:beltOfInsightXpGain=1.5

        # Experience reduction multiplier.
        # Min: 0.0
        # Max: 1.0
        D:beltOfLuckXpReduction=0.5

        # Ticks after attacking before Berserker's Pendant rage starts decaying.
        # Min: 0
        # Max: 12000
        I:berserkersPendantDecayDelayTicks=60

        # Damage bonus at full Berserker's Pendant rage. 0.5 = 50% more damage.
        # Min: 0.0
        # Max: 10.0
        D:berserkersPendantMaxDamageBonus=0.5

        # Maximum rage stored by Berserker's Pendant.
        # Min: 1.0
        # Max: 1000.0
        D:berserkersPendantMaxRage=100.0

        # Rage lost per second after Berserker's Pendant decay delay.
        # Min: 0.0
        # Max: 1000.0
        D:berserkersPendantRageDecayPerSecond=5.0

        # Rage gained when attacking with Berserker's Pendant equipped.
        # Min: 0.0
        # Max: 1000.0
        D:berserkersPendantRagePerHit=12.0

        # Radius in blocks of Chain Reaction AoE damage.
        # Min: 1.0
        # Max: 20.0
        D:chainReactionRadius=5.0

        # Molten Ring damage multiplier to enemies on fire
        # Min: 1.1
        # Max: 10.0
        D:combatStimulantHealMultiplier=1.25

        # Disable equipping Anvil Sigil. 1 for true, 0 for false.
        # Min: 0
        # Max: 1
        I:disableAnvilSigil=0

        # Disable equipping Wing Charm. 1 for true, 0 for false.
        # Min: 0
        # Max: 1
        I:disableAura=0

        # Disable equipping Band of the Dragon. 1 for true, 0 for false.
        # Min: 0
        # Max: 1
        I:disableBandOfTheDragon=0

        # Disable equipping Bauble of Living. 1 for true, 0 for false.
        # Min: 0
        # Max: 1
        I:disableBaubleOfLiving=0

        # Disable equipping Belt of Insight. 1 for true, 0 for false.
        # Min: 0
        # Max: 1
        I:disableBeltOfInsight=0

        # Disable equipping Belt of Luck. 1 for true, 0 for false.
        # Min: 0
        # Max: 1
        I:disableBeltOfLuck=0

        # Disable equipping Berserker's Pendant. 1 for true, 0 for false.
        # Min: 0
        # Max: 1
        I:disableBerserkersPendant=0

        # Disable equipping Chain Reaction. 1 for true, 0 for false.
        # Min: 0
        # Max: 1
        I:disableChainReaction=0

        # Disable equipping Chain Reaction. 1 for true, 0 for false.
        # Min: 0
        # Max: 1
        I:disableCombatStimulant=0

        # Disable equipping Double A Battery. 1 for true, 0 for false.
        # Min: 0
        # Max: 1
        I:disableDoubleABattery=0

        # Disable equipping Emberheart Pendant. 1 for true, 0 for false.
        # Min: 0
        # Max: 1
        I:disableEmberheartPendant=0

        # Disable equipping Feather Boots. 1 for true, 0 for false.
        # Min: 0
        # Max: 1
        I:disableFeatherBoots=0

        # Disable equipping Final Gambit. 1 for true, 0 for false.
        # Min: 0
        # Max: 1
        I:disableFinalGambit=0

        # Disable equipping Golden Heart. 1 for true, 0 for false.
        # Min: 0
        # Max: 1
        I:disableGoldenHeart=0

        # Disable equipping Leftovers. 1 for true, 0 for false.
        # Min: 0
        # Max: 1
        I:disableLeftovers=0

        # Disable equipping Bauble of Living. 1 for true, 0 for false.
        # Min: 0
        # Max: 1
        I:disableMoltenRing=0

        # Disable equipping Reflex Loop. 1 for true, 0 for false.
        # Min: 0
        # Max: 1
        I:disableReflexLoop=0

        # Disable equipping Ring of Resources. 1 for true, 0 for false.
        # Min: 0
        # Max: 1
        I:disableRingOfResources=0

        # Disable equipping Turtle Shell Charm. 1 for true, 0 for false.
        # Min: 0
        # Max: 1
        I:disableTurtleShellCharm=0

        # Disable equipping Valor Pendant. 1 for true, 0 for false.
        # Min: 0
        # Max: 1
        I:disableValorPendant=0

        # Disable equipping Vengeance Core. 1 for true, 0 for false.
        # Min: 0
        # Max: 1
        I:disableVengeanceCore=0

        # Disable equipping Wing Charm. 1 for true, 0 for false.
        # Min: 0
        # Max: 1
        I:disableWingCharm=0

        # % Of Event Damage Lightning will deal. 0 to disable.
        # Min: 0.0
        # Max: 1.0
        D:doubleALightningDamagePercent=0.1

        # % Chance For An Attacked Entity To Be Hit With Lightning. 0 to disable.
        # Min: 0.0
        # Max: 1.0
        D:doubleALightningStrikeChance=0.1

        # Heal per second while on fire (0 to disable)
        # Min: 0.0
        # Max: 20.0
        D:emberheartHealPerSecondOnFire=1.0

        # Final Gambit Damage Multplier. .3 = 1.3x
        # Min: 0.0
        # Max: 100.0
        D:finalGambitDamageMultiplier=0.5

        # Final Gambit HP Reduction Multiplier.
        # Min: 0.0
        # Max: 0.99
        D:finalGambitHPReduction=0.75

        # Final Gambit Speed Multplier. .3 = 1.3x
        # Min: 0.0
        # Max: 100.0
        D:finalGambitSpeedMultiplier=0.5

        # Max absorption hearts for Golden Heart
        # Min: 0.0
        # Max: 50.0
        D:goldenHeartMaxAbsorption=10.0

        # Food value to add per 3 seconds or 60 ticks.
        # Min: 0
        # Max: 20
        I:leftoversFoodPerAdd=1

        # Luck Stat Boosts Critical Chance. 0 for no, 1 for yes.
        # Min: 0
        # Max: 1
        I:luckAffectsCrit=1

        # Molten Ring damage multiplier to enemies on fire
        # Min: 1.1
        # Max: 10.0
        D:moltenRingDamageMultiplier=1.25

        # % Chance To Catch Projectile.
        # Min: 0
        # Max: 100
        I:reflexLoopCatchChance=10

        # Comma Separated List Of Projectiles That Can Be Added.
        S:reflexLoopProjectileItemList=minecraft:arrow

        # % Chance To Generate A Ring On Kill. 0 to disable.
        # Min: 0.0
        # Max: 1.0
        D:ringOfResourcesDropChance=0.001

        # % Chance For Ring To Generate An Item On Kill. 0 to disable.
        # Min: 0.0
        # Max: 1.0
        D:ringOfResourcesItemDropChance=0.01

        # Comma Separated List Of Items That Can The Ring Can Generate With.
        S:ringOfResourcesItems=minecraft:diamond,minecraft:iron,minecraft:emerald,minecraft:coal

        # % Chance For a Positive Potion Effect To Be Added. 0 to disable.
        # Min: 0.0
        # Max: 1.0
        D:valorPendantEffectChance=0.1

        # % Of Event Damage bauble will store. 0 to disable.
        # Min: 0.0
        # Max: 1.0
        D:vengeanceCoreStoredDamagePercent=0.1
    }

}


