# Configuration file

biome-specific {
    S:"Block to generate in frozen caves"=packed_ice
    D:"Probability of glowing ice mushrooms in frozen caves"=0.3
    D:"Probability of glowing mushrooms in humid/jungle caves"=0.3
    D:"Probability of icicles in frozen caves"=0.6
    D:"Probability of less generation in arid caves"=0.5
    D:"Probability of more water fountains in wet caves"=0.1
    D:"Probability of sandstone stalactites in arid caves"=0.5
    D:"Probability of vines in jungle caves"=0.5
}


general {
    I:"Chance for a fossil node to generate"=0
    I:"Chance for a skull to be added in chests"=0

    # How much light is emitted by the mushrooms. [range: 0 ~ 15, default: 5]
    I:"Flora light level"=5
    I:"Max height of structure generation"=80
    I:"Max length of structure generation"=8

    # Whether stalactites can be collided with. [default: false]
    B:"Solid stalactites/stalagmites"=false

    # Whether living beings would be damaged when falling on the block. [default: false]
    B:"Stalagmites damage entities when fallen on"=true
    I:"Times to attempt generating per chunk"=10
}


non-biome-specific {
    I:"Max height at which to generate glowcaps in normal biomes"=30
    D:"Probability of glowing mushrooms in caves"=0.1
    D:"Probability of skulls"=1.0E-4
    D:"Probability of spider webs"=0.15
    D:"Probability of stalactites/stalagmites"=0.5
    D:"Probability of vines in caves"=0.1
}


permissions {
    S:"Block Whitelist"=stone,grass,dirt,cobblestone,gravel,gold_ore,iron_ore,coal_ore,lapis_ore,sandstone,diamond_ore,redstone_ore,lit_redstone_ore,ice,snow,clay,monster_egg,emerald_ore

    # Worlds where generation won't occur (by dimension IDs), use [id1;id2] to add a range of IDs
    S:"Dimension Blacklist"=-1,1
    B:"Generate flora in caves"=true
    B:"Generate sandstone stalactites in arid biomes"=true
    B:"Generate stalactites in caves"=true
}


